html {
  background: transparent;
  padding-right:100px;
}

body {
  margin-bottom: 25px;
  padding-right:50px;
}

h1, h2 {
  line-height: 1;
  font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: bold;
  margin: 0 5px 25px 0;
  padding: 0 0 8px;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 18px;
}

p, li {
  line-height: 1.5;
}

p, ul, ol {
  padding-bottom: 25px;
}

a {
  color: inherit;
  color:rgb(87, 173, 104);
}

strong, b {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

ul, ol{
  padding:0px;
}

li {
  margin-left: 30px;
}

ul li {
  list-style: disc outside;
}

ol li {
  list-style: decimal outside;
}

li img {
  vertical-align: middle;
  margin: 2px 5px 5px 0;
}

span.secret-text{
  font-size:0.9em;
  display:inline-block;
  border:1px solid #ccc;
  padding:3px 5px;
  cursor:pointer;
}

span.secret-text:hover{
  background-color:#eee;
}

blockquote{
  border-left:3px solid rgb(208, 229, 242);
  padding:5px 15px;
  margin:10px 0px;
  line-height: 1.5;
}

pre {
  color: #008F6B;
  margin: 20px 0px;
  padding: 20px;
  border-left: 4px solid;
  font-size: 0.9em;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}
