html {
  overflow: hidden;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

body, textarea, input {
  font-family: Helvetica, Arial, Verdana;
}

.note{
  position:absolute;
  top:0px;
  right:0px;
  width:72%;
  bottom:0px;
}

button{
  background:#bdc3c7;
  color:#ffffff;
  text-decoration: none;
  border:none;
  width:200px;
  margin:20px;
  padding:8px 10px;
  cursor:pointer;
}

button:hover{
  background-color:#cacfd2;
  -webkit-transition:0.25s;
  transition:0.25s;
}

.icon-button{
  font-size:20px;
  text-decoration:none;
}

.delete-note{
  position:absolute;
  color:#ccc;
  right:10px;
  top:20px;
  display:none;
}
.new-note{
  position:absolute;
  top:0px;
  left:20px;
}

.note-editor{
  padding-left:30px;
  padding-right:30px;
  height:100%;
  overflow:hidden;
}

.notes-list{
  position:absolute;
  border-right:1px solid #ccc;
  left:0px;
  bottom:0px;
  top:0px;
  width:25%;
  font-color:#ccc;
}

.notes-list ul{
  position:relative;
  overflow:auto;
  height:100%;
  margin-top:80px;
}

.notes-list li{
  display:block;
  margin:10px;
  padding:20px;
  font-color:#ccc;
  height:20px;
  overflow:hidden;
  border-left:3px solid white;
  position:relative;
}

.notes-list li:hover .delete-note{
  display:block;
}

.notes-list li.active{
  border-left:3px solid #ccc;
}

.notes-list li:hover{
  background-color:#eee;
  cursor:pointer;
}

textarea {
  background: transparent;
  position:absolute;
  top:80px;
  bottom:0px;
  left:20px;
  right:30px;
  border: 0;
  resize: none;
  white-space: pre;
  word-wrap: normal;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}




#wysihtml5-editor-toolbar {
  position: absolute;
  width:100%;
  top:20px;
  right:20px;
  text-align:center;
}

header {
  display: inline-block;
  border-radius: 4px;
  background: #f6f6f6;
  position: relative;
  z-index: 1;
  text-align: center;
  border: 1px solid #ddd\9; /* IE 8 and below */
  font-size: 0;
  text-align: center;
  width:500px;
}

.commands {
  border-left: 1px solid #ddd;
  display: inline-block;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
  position: relative;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
  list-style: none;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  padding:10px ;
  height: 15px;
  width: 20px;
}


[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
  background-color:#eee;
}



.wysihtml5-action-active,
.wysihtml5-command-active {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
  opacity: 0.4;
  cursor: default;
  background-image: none !important;
}

[data-wysihtml5-dialog] {
  color: #333;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background: #FFFBE0;
  position: absolute;
  width: 810px;
  text-align: center;
  top: 45px;
}

[data-wysihtml5-dialog] input {
  color: #333;
  border: 1px solid #ccc;
  padding: 3px;
  width: 300px;
}

[data-wysihtml5-dialog] input:focus {
  outline: 0;
  border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
  padding: 4px;
  color: #fff;
  cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
  background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
  background: #999;
}


